<!-- <!DOCTYPE html>
<html>
<head>
    <title>Incluir Categoria</title>
    <link rel="stylesheet" type="text/css" href="../../Styles/Bebidas/Bebidas.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/Styles/Card/card.css">
    <link rel="stylesheet" href="/Styles/Bebida/bebida.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head> -->
<body>
    <!-- <nav class="navbar navbar-expand-lg" style="background-color: #da5c5c;">
        <div class="container-fluid">
          <a class="navbar-brand" href="/View/Bebidas/Bebidas.html" style="color: #fff;">
            <i class="fa-solid fa-beer-mug-empty"></i>
            Distribuidora Planalto
          </a>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="flex-flow: row-reverse !important;">
            <div class="navbar-nav">
                <i class="fa-solid fa-user" style="top: 12px; position: relative; color: #fff;"></i>
                <a class="nav-link active" id="userLogadoEmail" aria-current="page" href="/View/Usuario/Usuario.html" style="color: #fff; cursor: pointer;"></a>
            </div>
          </div>
        </div>
    </nav> -->

    <div class="container">
        <div class="row" style="text-align: center; margin-top: 2%;">
            <h1 style="color: #da5c5c;">Cadastrar Categoria</h1>
        </div>

        <div class="row mt-4">
            <input hidden id="idCategoria">

            <div class="col-md-12">
                <label for="nomeCategoria">Nome da Categoria</label>
                <input type="text" class="form-control" id="nomeCategoria" placeholder="Nome" name="nomeCategoria" required>
            </div>
        </div>

        <div class="row mt-4" style="display: flex; justify-content: center;">
            <input type="button" class="btn btn-success" id="salvarCategoria" value="Cadastrar" style="background-color: #da5c5c; width: 40%;">
        </div>
    </div>

    <script src="../../Scripts/categoria.js"></script>
    <script src="../../Scripts/comum.js"></script>
</body>
<!-- </html> -->
